{% extends 'base.html.twig' %}

{% block title %}Bot Output{% endblock %}

{% block body %}
    <h1>Bot Output</h1>
    <div id="bot-output"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            function fetchBotOutput() {
                $.ajax({
                    url: "{{ path('app_bot_output') }}",
                    method: 'GET',
                    success: function (data) {
                        const outputDiv = $('#bot-output');
                        outputDiv.empty();
                        data.forEach(item => {
                            const transactionDiv = $('<div class="transaction"></div>');
                            const [timestamp, ...message] = item.split(' ');
                            transactionDiv.append(`<div class="timestamp">${timestamp}</div>`);
                            transactionDiv.append(`<div class="message">${message.join(' ')}</div>`);
                            outputDiv.append(transactionDiv);
                        });
                    }
                });
            }

            fetchBotOutput();
            setInterval(fetchBotOutput, 5000);
        });
    </script>
{% endblock %}